<div class="container" id="recentblogposts">
  <div class="container" id="recentposts">
    <div class="card">
      <div class="card-header" id="username">
        {{title}}
      </div>
      <div class="card-header" id="event">
      {{event_id}}
      </div>
      <div class="card-body">
        <p class="card-text">{{content}}</p>
      </div>
    </div>
  </div>
</div>