{{! <a href="#" class="list-group-item list-group-item-action" aria-current="true" > }}
<div class="card">
  <div class="card-header blog-title">
    {{title}}
    (Posted by:
    {{user.username}})
  </div>
  <div class="card-body">
    <p class="card-text">{{content}}</p>
  </div>
</div>
{{! </a> }}