<div class="container" id="blogpage">
  <div class="card" rows="10" style="height:50%">
    <div class="card-body">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Blog Post Name"
          aria-label="Blog Post Name"
          aria-describedby="button-addon2"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-addon2"
        >Post Blog</button>
      </div>
      <div class="input-group">

        <textarea
          rows="10"
          style="height:10%"
          class="form-control"
          aria-label="With textarea"
        ></textarea>
      </div>
      {{! <a href="#" class="card-link">Save Blog</a>
      <a href="#" class="card-link">Post Blog</a> }}
    </div>
  </div>
</div>