<div class="container-fluid" id="rotate">
  <div class="card"  id="title">
    <div class="mx-auto"  style="width: 500px;">
      <span id="histori">History</span> Media
    </div>
  </div>
</div>

<div class="container" id="main">
    {{#each posts as |event|}}
    {{> eventpartial event}}
    {{/each}}
    
</div>

