<div class="container-fluid" id="rotate">
  <div class="card" id="title">
    <div class="mx-auto" style="width: 500px;">
      <span id="histori">History</span>
      Media
    </div>
  </div>
</div>

{{!-- <div class="container" id="main">
  {{#each randList as |event|}}
    {{> extrainfopartial event}}
    {{/each}}

</div> --}}

<div class="container" id="extrainfo">
  <div class="card">
    <div class="card-header" id="year">
      Year
    </div>
    <div class="card-body">
      <p class="card-text">Event</p>
    </div>
    <div class="list-group">
      <a
        href="#"
        class="list-group-item list-group-item-action"
        aria-current="true"
      >
        Wiki links
      </a>

    </div>
    <div class="list-group">
      <a
        href="#"
        class="list-group-item list-group-item-action"
        aria-current="true"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Username</h5>
          {{! <small>3 days ago</small> }}
        </div>
        <p class="mb-1">Title</p>
        <p>Blog</p>
      </a>

    </div>
  </div>
</div>