<div class="container" id="main">
  <div class="card">
    <div class="card-header" id="year">
      {{event.year}}
    </div>
    <div class="card-body">
      <p class="card-text homepage-event">{{event.description}}</p>
    </div>
  

    {{!-- This is for the wiki links --}}    
    <div class="list-group">
        {{#each event.wikipedia as |info|}}
          {{> extrainfopartial info}}
        {{/each}}
    </div>
  </div> 
</div>

    {{!-- This is for the blogs about htis event --}}
<div class="container">
  <div class="container text-center" id="recentposts">
    <button
        type="button"
        class="btn btn-outline-success btn-sm blog event-blog-btn"
        data-eventId={{event.id}}
      >Blog about this event!</button>
  </div>
    {{#if event.blogs}}
    <p id="no-blogs">Blogs About This Event</p> 
      {{#each event.blogs as |info|}}
        {{> wikipartials info}}
      {{/each}}
    {{else}}
      <p id="no-blogs">No Blogs Published</p>  
    {{/if}}
  </div>
</div>

<script src="/js/eventDetails.js"></script>