{{! <form class="container" id="contain">
  <div class="mb-3" id="user-name">
    <label for="username-signup" class="form-label">Username:</label>
    <input class="form-control" type="text" id="username-signup" />
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      placeholder="name@example.com"
      aria-describedby="emailHelp"
    />
    <div id="emailHelp" class="form-text">We'll never share your email with
      anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" />
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">I'm not a robert</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"
></script> }}
{{! This container has the name of our page }}
<div class="container-fluid">
  <div class="card" id="title">
    <div class="mx-auto" style="width: 500px;">
      History Media
    </div>
  </div>
</div>
{{! This container will have the facts about today }}
{{!-- {{#each events as |event|}} --}}
{{!-- {{> event-partial event}} --}}
<div class="container" id="main">
  <div class="card">
    <div class="card-header">
      Year
    </div>
    <div class="card-body">
      {{! <h5 class="card-title">Special title treatment</h5> }}
      <p class="card-text">Event description.</p>
      <a href="#" class="btn btn-primary">Link to more info</a>
    </div>
  </div>
</div>
<div class="container" id="main">
  <div class="card">
    <div class="card-header">
      Year
    </div>
    <div class="card-body">
      {{! <h5 class="card-title">Special title treatment</h5> }}
      <p class="card-text">Event description.</p>
      <a href="#" class="btn btn-primary">Link to more info</a>
    </div>
  </div>
</div>
<div class="container" id="main">
  <div class="card">
    <div class="card-header">
      Year
    </div>
    <div class="card-body">
      {{! <h5 class="card-title">Special title treatment</h5> }}
      <p class="card-text">Event description.</p>
      <a href="#" class="btn btn-primary">Link to more info</a>
    </div>
  </div>
</div>
<div class="container" id="main">
  <div class="card">
    <div class="card-header">
      Year
    </div>
    <div class="card-body">
      {{! <h5 class="card-title">Special title treatment</h5> }}
      <p class="card-text">Event description.</p>
      <a href="#" class="btn btn-primary">Link to more info</a>
    </div>
  </div>
</div>
<div class="container" id="main">
  <div class="card">
    <div class="card-header">
      Year
    </div>
    <div class="card-body">
      {{! <h5 class="card-title">Special title treatment</h5> }}
      <p class="card-text">Event description.</p>
      <a href="#" class="btn btn-primary">Link to more info</a>
    </div>
  </div>
</div>
<div class="card text-center">

  <div class="card-body">
    <h5 class="card-title">Change this for history media logo!</h5>
    <p class="card-text">Share your thoughts with a comment/blog post.</p>
    <a href="#" class="btn btn-primary">Your Blogs</a>
  </div>
  <div class="card-footer text-muted">
    Never know what happened on this day!
  </div>
</div>