{{! This container has the name of our page }}
<div class="container-fluid">
  <div class="card" id="title">
    <div class="mx-auto" style="width: 500px;">
      History Media
    </div>
  </div>
</div>
{{! This container will have the facts about today }}
{{!-- {{#each events as |event|}} --}}
{{!-- {{> event-partial event}} --}}
<div class="container" id="main">
  <div class="card">
    <div class="card-header">
     {{#each event-data as |year|}}
    {{> event-data year}}
    {{/each}}
    </div>
    <div class="card-body">
      <p class="card-text">{{#each event-data as |description|}}
    {{> event-data description}}
    {{/each}}</p>
      {{!-- <a href="#" class="btn btn-primary">Link to more info</a> --}}
    </div>
  </div>
</div>

