

<div class="container" id="main">
    {{#each randList as |event|}}
    {{> homepartial event}}
    {{/each}}
    
</div>
<div class="container text-center" id="viewbutton"><button type="button" class="btn btn-outline-success view-all">View all the day events!</button></div>
  <div class ="container" id="here">
      <H3>Here are some recent Blogs</H3>
    </div>
  <div class="container" id="main">
    {{#each recBlogs as |blog|}}
    {{> recentblogpartial blog}}
    {{/each}}
  </div>
  


