<form class="container signup-form" id="contain">
  <div class="mb-3" id="user-name">
    <label for="username-signup" class="form-label">Username:</label>
    <input class="form-control" type="text" id="username-signup1" />
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      placeholder="name@example.com"
      aria-describedby="emailHelp"
    />
    <div id="emailHelp" class="form-text">We'll never share your email with
      anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" />
  </div>
  <button type="submit" class="btn btn-primary signButton">Sign up</button>
</form>

<script src="/js/signup.js"></script>