<div class="container" id="dashcontainer" >
    <h3 id="author">
    Author:{{userInfo.username}}
    </h3> 
    {{#if userBlogs}}
        {{#each userBlogs as |event|}}
            {{> parti-dash event}}
        {{/each}}
    {{else}}
        <p id="no-blogs">No Blogs Published</p>
    {{/if}}
</div>