<div>
{{userInfo.username}}
</div>
<div class="container" >
    {{#if userBlogs}}
        {{#each userBlogs as |event|}}
            {{> parti-dash event}}
        {{/each}}
    {{else}}
        <p id="no-blogs">No Blogs Published</p>
    {{/if}}
</div>