#contain {
  margin-top: 70px;
  margin-left: 200px;
}

#main {
  margin-top: 25px;
  margin-bottom: 25px;
}

#title {
  border-style: none;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#link {
  color: black;
}
