#main {
  margin-top: 25px;
  margin-bottom: 25px;
}

#title {
  border-style: none;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#contain {
  justify-content: center;
  align-items: center;
}
