body {
  font-family: "lora" !important;
}

#main {
  margin-top: 25px;
  margin-bottom: 25px;
}

#recentblogposts {
  margin-top: 35px;
  margin-bottom: 35px;
}

#here {
  color: #085823;
  text-align: center;
  padding-top: 3%;
  font-family: "EB Garamond" !important;
}

.blog-title {
  font-size: 1.13rem !important;
}

#extrainfo {
  margin-top: 35px;
  margin-bottom: 35px;
}

#button-box {
  margin-top: 10px;
}

#title {
  border-style: none;
  background-color: rgb(216, 224, 137);
  font-size: 50px;
  font-family: "EB Garamond" !important;
}

.logo {
  background-image: url(../assets/HistoryPNG.png);
  background-size: cover;
  height: 40px;
  width: 40px;
}

#contain {
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}

#rotate {
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.5s;
  font-family: "Gugi", cursive;
}
#rotate:hover {
  box-shadow: 0 0 10px black;
}

#histori {
  --c: #1f3826;
  line-height: 1.2em;
  background: conic-gradient(from -135deg at 100% 50%, var(--c) 90deg, #0000 0)
      0 var(--p, 0%),
    conic-gradient(from -135deg at 1.2em 50%, #0000 90deg, var(--c) 0) 100%
      var(--p, 0%);
  background-size: var(--s, 0%) 200%;
  background-repeat: no-repeat;
  transition: 0.4s ease-in, background-position 0s;
}
#histori:hover {
  --p: 100%;
  --s: calc(50% + 0.61em);
  color: #ffffff;
}

#link {
  color: #085823;
}

#blogpage {
  margin-top: 5%;
  margin-bottom: 5%;
}

#login {
  margin-right: 20px;
}

#todays-date {
  text-align: center;
  width: 100%;
  font-size: 1.4rem;
}

#no-blogs {
  margin-top: 30px;
  font-size: 1.7rem;
  text-align: center;
}

#rotate.container-fluid {
  padding-left: 0%;
  padding-right: 0%;
}

.form-control {
  border: 1px solid #ccc;
}

.red-border {
  border-color: red;
}

.not-found {
  text-align: center;
}

/* if user tries to submit a form with empty fields, the forms will shake  */
@keyframes shake {
  10%,
  90% {
    transform: translate(-1px, 0);
  }

  20%,
  80% {
    transform: translate(2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate(-4px, 0);
  }

  40%,
  60% {
    transform: translate(4px, 0);
  }
}

#Author {
  margin-left: 20px;
}

#dashcontainer {
  padding: 10px;
}

.shake-animation {
  animation: shake 0.5s;
}

.btn {
  border-radius: 5px;
  padding: 10px;
}

#cardfooter {
  border: 5px;
  padding: 5px;
}

.post-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-box {
  flex: 1;
  display: flex;
  resize: none;
}
